#sub-cell {
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
}

#selected-sub-cell {
    height: 20px;
    width: 20px;
    color: red;
    text-align: center;
}

#filled-sub-cell {
    height: 20px;
    width: 20px;
    color: black;
    text-align: center;
}

#cell {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    border: 1px solid black;
    height: 66px;
    width: 60px;
}

#filled-cell {
    border: 1px solid black;
    height: 66px;
    width: 60px;
    text-align: center;
    font-size: xxx-large;
}

#block {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    border: 1px solid black;
    height: 204px;
    width: 180px;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    border: 1px solid black;
    width: 540px;
}







/*



#filled-cell {
    The cell when a number is committed via shift+click
}
 */